################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EverlightSync/.vs/EverlightSync/v16/.suo
